body {
  text-align: center;
  background-color: #004085;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 15px;
  display: inline-block;
  height: 175px;
  width: 175px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius: 20% 50% 20% 20%;
}

.green {
  background-color: green;
  border-radius: 50% 20% 20% 20%;
}

.blue {
  background-color: blue;
  border-radius: 20% 20% 50% 20%;
}

.yellow {
  background-color: yellow;
  border-radius: 20% 20% 20% 50%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
